:root {
  --clr_euro01: #e0b46c;
  --clr_euro02: #181424;
  --clr_euro03: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #e9e5ce;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f4f2e7'/%3E%3Cstop offset='1' stop-color='%23f4f2e7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f4f2e7'/%3E%3Cstop offset='1' stop-color='%23f4f2e7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23E9E5CE'/%3E%3Cstop offset='1' stop-color='%23E9E5CE' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  background-color: var(--clr_euro02);
  box-shadow: 10px 12px 37px 2px rgba(14, 14, 14, 0.25);
  -webkit-box-shadow: 10px 12px 37px 2px rgba(14, 14, 14, 0.25);
  -moz-box-shadow: 10px 12px 37px 2px rgba(14, 14, 14, 0.25);
  color: #282c34;
  border-radius: 20px;
  width: 70%;
  height: 650px;
  display: flex;
  user-select: none;
}

.textoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  top: 0;
  padding: 15px 30px;
  transform: translateY(-250px);
  transition: 0.5s ease-in-out;
}

.textoCard h1 {
  text-shadow: 0px 3px 7px black;
  margin-bottom: 20px;
}

.textoCard h2 {
  margin-top: 0px;
  font-size: 1em;
  text-shadow: 0px 3px 7px black;
}

.cardImage {
  background-color: var(--clr_euro03);
  border-radius: 20px;
  width: 90%;
  box-shadow: 5px 0px 18px 2px rgb(14 14 14 / 28%);
  color: white;
  cursor: pointer;
}

.cardInfo {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 50%;
  opacity: 0%;
  transform: translateY(-150px);
  transition: 0.5s ease-in-out;
}

.cardImageArq {
  object-fit: cover;
}

.cardImage:hover .textoCard {
  transform: translateY(-475px);
}

.cardImage:hover .cardInfo {
  opacity: 75%;
  transform: translateY(0px);
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

input[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  background: var(--clr_euro01);
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

input:checked[type="checkbox"] {
  background: var(--clr_euro01);
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: var(--clr_euro03);
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  left: 40px;
}

.cardButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 650px;
  justify-content: center;
  color: var(--clr_euro03);
  font-size: 15px;
}

.cardButtonExterior {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
  width: 100%;
  align-items: center;
}

.exterior_01 {
  height: 110px;
  width: 110px;
  border-radius: 20px;
  background-size: 90%;
  background-position: 50% 50%;
  background-image: url(../public/images/Test/1_muestra.png);
  transition: 0.25s ease-in-out;
  cursor: pointer;
  opacity: 85%;
}

.exterior_01:hover {
  height: 115px;
  width: 115px;
  opacity: 100%;
}

.exterior_02 {
  height: 110px;
  width: 110px;
  border-radius: 20px;
  background-size: 90%;
  background-position: 50% 50%;
  background-image: url(../public/images/Test/2_muestra.png);
  transition: 0.25s ease-in-out;
  cursor: pointer;
  opacity: 85%;
}

.exterior_02:hover {
  height: 115px;
  width: 115px;
  opacity: 100%;
}

.exterior_03 {
  height: 110px;
  width: 110px;
  border-radius: 20px;
  background-size: 90%;
  background-position: 50% 50%;
  background-image: url(../public/images/Test/3_muestra.png);
  transition: 0.25s ease-in-out;
  cursor: pointer;
  opacity: 85%;
}

.exterior_03:hover {
  height: 115px;
  width: 115px;
  opacity: 100%;
}

.cardButtonInterior {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
  width: 100%;
  align-items: center;
}

.interior_01 {
  height: 110px;
  width: 110px;
  border-radius: 20px;
  background-size: 90%;
  background-position: 50% 50%;
  background-image: url(../public/images/RenderInternos/ladrillos_muestra.jpg);
  transition: 0.25s ease-in-out;
  cursor: pointer;
  opacity: 85%;
}

.interior_01:hover {
  height: 115px;
  width: 115px;
  opacity: 100%;
}

.interior_02 {
  height: 110px;
  width: 110px;
  border-radius: 20px;
  background-image: url(../public/images/RenderInternos/marmol_muestra.jpg);
  background-size: 90%;
  background-position: 50% 50%;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  opacity: 85%;
}

.interior_02:hover {
  opacity: 100%;
  height: 115px;
  width: 115px;
}

.interior_03 {
  height: 110px;
  width: 110px;
  border-radius: 20px;
  background-image: url(../public/images/RenderInternos/piedra_muestra.jpg);
  background-size: 90%;
  background-position: 50% 50%;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  border-bottom-right-radius: 20px;
  opacity: 85%;
}

.interior_03:hover {
  height: 115px;
  width: 115px;
  opacity: 100%;
}

@media screen and (max-width: 1500px) {
  .cardImage {
    width: 85%;
  }

  .cardButton {
    width: 20%;
  }
}

@media screen and (max-width: 1000px) {
  .cardInfo {
    width: 75%;
  }
}

@media screen and (max-width: 900px) {
  .card {
    flex-direction: column;
    width: 95%;
  }

  .cardImage {
    width: 100%;
    height: 450px;
  }

  .cardButton {
    width: 100%;
    height: 150px;
    row-gap: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }

  .cardButtonExterior {
    flex-direction: row;
    column-gap: 6px;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: space-around;
  }

  .cardButtonInterior {
    flex-direction: row;
    column-gap: 6px;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: space-around;
  }

  .exterior_01:hover {
    height: 110px;
    width: 110px;
  }

  .exterior_02:hover {
    height: 110px;
    width: 110px;
  }

  .exterior_03:hover {
    height: 110px;
    width: 110px;
  }

  .interior_01:hover {
    height: 110px;
    width: 110px;
  }

  .interior_02:hover {
    height: 110px;
    width: 110px;
  }

  .interior_03:hover {
    height: 110px;
    width: 110px;
  }

  .textoCard {
    transform: translateY(-220px);
    height: 150px;
  }

  .cardInfo {
    transform: translateY(-330px);
  }

  .cardImage:hover .textoCard {
    transform: translateY(-200px);
  }

  .cardImage:hover .cardInfo {
    opacity: 75%;
    transform: translateY(-325px);
  }
}
